---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div
    class="prose w-[100vw] max-w-4xl px-5 prose-img:w-full prose-img:shadow-md prose-em:text-center prose-em:mx-auto prose-em:text-muted-400 prose-em:text-base prose-p:font-sans2 prose-h2:text-4xl prose-p:text-xl prose-strong:font-semibold prose-a:text-accent-500"
  >
    <Content />
  </div>
</BlogPost>
