---
import BaseLayout from "../layouts/BaseLayout.astro";
import FinancingTabs from "../components/FinancingTabs";
import ImageComp from "../components/ImageComp.astro";
import { COMPANY_NICKNAME, COMPANY_NAME } from "../consts";
---

<BaseLayout
  siteTitle=`Financing | ${COMPANY_NICKNAME}`
  siteDescription="Explore financing options available to fund your pilot training with Universal Flight Training in Sarasota, Florida. We partner with trusted financial providers to make your aviation goals more accessible and affordable."
  keywords="Universal Flight Training financing, pilot training loans Florida, Stratus Financial, student pilot funding, flight school financing, aviation financing Sarasota FL"
>
  <!-- Header -->
  <header class="relative h-[85vh] flex flex-col items-center justify-center">
    <div class="absolute -z-30 inset-0" aria-hidden="true">
      <ImageComp
        imagePath="/src/assets/stock-uft-flight-training-sarasota-florida.jpg"
        imageAlt="Universal Flight Training aircraft flying over Sarasota, Florida"
        loading="eager"
        styles="object-cover h-full w-full object-center"
        widths={[540, 720, 1080, 1440, 1980, 2048, 2560, 2880, 3200, 3840]}
        sizes={`(max-width: 240px) 540px, (max-width: 540px) 720px, (max-width: 720px) 1080px, (max-width: 1080px) 1440px, (max-width: 1440px) 1920px, (max-width: 1980px) 2048px, (max-width: 2048px) 2560px, (max-width: 2560px) 2880px, (max-width: 2880px) 3200px, 3840px`}
      />
    </div>
    <!-- bg-overlay to darken -->
    <div class="absolute bg-mariner-900/30 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-8 px-5 pt-20"
    >
      <h1
        class="text-3xl md:text-6xl font-bold -skew-x-12 tracking-tight"
      >
        How to Access Financing at<br />{COMPANY_NAME}
      </h1>
      <h2 class="text-xl md:text-3xl tracking-wide">
        Helping our students fund their pilot training
      </h2>
      <div
        class="flex items-center gap-1 md:gap-5 bg-white/70 px-5 py-10 rounded-lg"
      >
        <ImageComp
          imagePath="/src/assets/stratus-logo-2.webp"
          imageAlt="Stratus Financial logo"
          styles="h-10 lg:h-16 w-auto"
          widths={[540, 720, 1080, 1440, 1980, 2048, 2560, 2880, 3200, 3840]}
          sizes={`(max-width: 240px) 540px, (max-width: 540px) 720px, (max-width: 720px) 1080px, (max-width: 1080px) 1440px, (max-width: 1440px) 1920px, (max-width: 1980px) 2048px, (max-width: 2048px) 2560px, (max-width: 2560px) 2880px, (max-width: 2880px) 3200px, 3840px`}
        />
      </div>
    </div>
  </header>

  <FinancingTabs client:load />
</BaseLayout>
