---
import terms from "../data/terms-of-service";
import BaseLayout from "../layouts/BaseLayout.astro";

const { data } = terms;
---

<BaseLayout
  siteTitle="Terms of Service | Universal Flight Training"
  siteDescription="Terms of Service of Universal Flight Training"
>
  <div class="h-20 lg:h-28 w-full bg-primary-700/50 brightness-75"></div>

  <section class="mt-12 font-serif flex flex-col items-center">
    <h1
      class="mx-auto text-center px-6 lg:px-0 text-primary-950 font-black max-w-4xl text-5xl lg:text-6xl"
      set:html={data.heading}
    />
    <p
      class="mx-auto mt-2 text-muted-400 text-center"
      set:html={data.subheading}
    />
    <div class="w-4/5 mt-12 lg:w-3/5 py-10">
      {
        data.content.map((part) => (
          <div class="mb-12">
            <h2 class="font-bold text-primary-900 tracking-tight uppercase mb-3 text-3xl">
              {part.heading}
            </h2>
            {part.paragraphs.map((paragraph) => (
              <p
                class="mb-3 leading-relaxed text-muted-700 text-justify"
                set:html={paragraph}
              />
            ))}
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
